%btn {
    display: inline-block;
    border-radius: 4px;
    border: none;
    padding: 8px 20px;
    margin: 4px;
    font-size: 1rem;
    text-decoration: none;

    &:hover {
        transform: scale(.98)
    }
}
.btn-primary {
    @extend %btn;
    @include set-background(lighten($primary-color, 10%));
}
.btn-secondary {
    @extend %btn;
    @include set-background($secondary-color);
}