.movie-details {

    .hero {
        display: flex;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;

        .content {
            display: flex;
        }
        
        .image {
            max-width: 25%;
            overflow: hidden;
            border-radius: 1rem;

            img {
                max-width: 100%;
            }
        }
    }
}